body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI";
  font-weight: 300;
}
label {
  margin: 5px;
}
.form-tarjeta2 {
  display: flex;
  flex-direction: row;
}
.form-tarjeta2 div {
  display: flex;
  flex-direction: column;
  margin: 0.6%;
}
.form-tarjeta2 div input {
  width: 35%;
  border: none;
  outline: none;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 25px;
  height: 15px;
  background-color: white;
  box-shadow: -3px 7px 17px #888888;
  font-size: 16px;
}
.form-group,
.form-tarjeta,
.form-tarjeta3 {
  display: flex;
  flex-direction: column;
}
.formulario {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  width: 40%;
  box-shadow: 0.5px 15px rgba(0, 0, 0, 0);
}
.r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #3d32ac;
  font-weight: 900;
  font-size: 25px;
}
.r h3:nth-of-type(2):hover {
  transform: scale(1.4);
  cursor: pointer;
}

p {
  text-align: center;
}

.field {
  border: 0;
  outline: none;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 25px;
  height: 15px;
  background-color: white;
  box-shadow: -3px 7px 17px #888888;
  font-size: 16px;
}

.btn {
  margin-left: 9%;
  width: 80%;
  background-color: #3d32ac;
  color: #ffffff;
  border-radius: 25px;
  border: none;
  padding: 10px 0px 10px 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform: translateY(4px);
  background-color: #ffffff;
  border-color: #3d32ac;
  color: #3d32ac;
  font-size: 14px;
  cursor: pointer;
}

.image-container {
  background-image: url("../images/fondo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: contain;
  display: flex;
  flex-flow: column nowrap;
}
